#Rename env_sample to .env and add your bot token and codecraft api key in it.

BOT_TOKEN=
CODECRAFT_API_KEY=
MONGO_URI=mongodb+srv://jokebot:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/jokebot?retryWrites=true&w=majority

ADMIN_IDS=10229412345,123456789,987654321