#Rename env_sample to .env and add your bot token and nvidia api key in it.

BOT_TOKEN=
NVIDIA_API_KEY=
MONGO_URI=mongodb+srv://jokebot:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/jokebot?retryWrites=true&w=majority